/* .mainContainer {
  font-family: "Prompt", sans-serif;
  padding: 1rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 28rem;
  background-color: rgb(233, 230, 230);
  padding: 1.5rem;
  border: 3px solid #000;
  border-radius: 0;
  text-align: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.8px);
} */
