.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* place-items: center; */
  padding: 2rem;
  padding-top: 7rem;
  height: 100vh;
  font-family: "Prompt", sans-serif;
  flex-wrap: wrap;
}

.icon {
  /* outline: 1px solid red; */
}
.aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
  /* outline: 1px solid black; */
  height: 100%;
}

.details {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* outline: 1px solid red; */
  padding: 1rem;
  width: 35%;
  height: 100%;
}

.sizeRange {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.button {
  width: 100%;
}
.image {
  filter: drop-shadow(0.2rem 0.3rem 0.5rem rgba(154, 154, 154, 0.547));
}

.writeUp {
  padding: 1rem;
  font-size: 1.1vmax;
  font-weight: 500;
}

.listBox {
  display: grid;
  width: 100%;
  min-width: 300px;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.sizes {
  padding: 0.3rem;
}
.sizes:focus {
  background-color: rgb(78, 78, 78);
  color: white;
}

.dropDown {
  width: 100%;
  cursor: pointer;
}
.dropDown > summary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(-1px);
  }
}

summary:hover .arrowDown {
  display: block;
  animation: bounce 2.5s infinite;
}
