.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* place-items: center; */
  padding: 2rem;
  padding-top: 7rem;
  height: 100vh;
  font-family: "Prompt", sans-serif;
  flex-wrap: wrap;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
  /* outline: 1px solid black; */
  height: 100%;
}

.details {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* outline: 1px solid red; */
  padding: 1rem;
  width: 35%;
  height: 100%;
}

.sizeRange {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.button {
  width: 100%;
}
.image {
  filter: drop-shadow(0.2rem 0.3rem 0.5rem rgba(154, 154, 154, 0.547));
}

.writeUp {
  padding: 1rem;
  font-size: 1.1vmax;
  font-weight: 500;
}

.listBox {
  display: grid;
  width: 100%;
  min-width: 300px;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.sizes {
  padding: 0.3rem;
}
.sizes:focus {
  background-color: rgb(78, 78, 78);
  color: white;
}

.dropDown {
  width: 100%;
  cursor: pointer;
}
.dropDown > summary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(-1px);
  }
}

summary:hover .arrowDown {
  display: block;
  animation: bounce 2.5s infinite;
}

.sizeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid red; */
}
.errorMsg {
  color: red;
  animation: error 0.5s ease-in-out 0s 1 normal forwards;
}
@keyframes error {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobileContainer {
  /* visibility: hidden; */
  display: none;
}

@media only screen and (max-width: 820px) {
  .container {
    display: none;
  }

  .mobileContainer {
    display: flex;
    flex-direction: column;
    /* overflow-y: auto; */
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    margin-top: 1rem;
    font-family: "Prompt", sans-serif;
  }

  .asideMobi {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 4rem;
    width: 100%;
  }

  .backArrow {
    cursor: pointer;
    font-size: 3vmax;
  }

  .detailsMobi {
    padding: 1rem;
    width: 100%;
    height: fit-content;
  }

  .sizeRangeMobi {
    width: 100%;
    height: fit-content;
  }

  .buttonMobi {
    width: 80%;
  }
  .imageMobi {
    max-width: 100%;
    filter: drop-shadow(0.2rem 0.3rem 0.5rem rgba(154, 154, 154, 0.547));
  }

  .writeUpMobi {
    padding: 1rem;
    font-size: 1.7vmax;
    font-weight: 500;
  }

  .listBoxMobi {
    display: grid;
    width: 100%;
    max-width: 20rem;
    margin: auto;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
  }

  .sizesMobi {
    padding: 0.3rem;
    font-size: 1.4vmax;
  }
  .sizesMobi:focus {
    background-color: rgb(78, 78, 78);
    color: white;
  }

  .dropDownMobi {
    width: 100%;
    cursor: pointer;
  }
  .dropDownMobi > summary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
